In [ ]:
#que 1

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list2= []

for i in list1:
  list2.append(i**2)
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
dict1 = {1:1, 2:4, 3:9, 4:16, 5:25, 6:36, 7:49, 8:64, 9:81, 10:100}

for K, V in dict1.items():
  print(K,V)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
tup1 = []
for i in range(1,21):
  if (i%2==0):
    tup1.append(i)
tup2 = tuple(tup1)
for j in tup2:
  print(j)

2
4
6
8
10
12
14
16
18
20

In [ ]:
tup =(2,4,6,8,10,12,14,16,18,20)
for i in tup:
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Ques4)
set1 = set()
for i in range(1, 20):
  if(i%2!=0):
    set1.add(i)


for x in set1:
  print(x)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#ques 5
a = [ [1,2] , [3,4] , [5,6], [7,8]]
for i in a :
  print(i)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [ ]:
#ques6
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}
a.values()

dict_values([{'one': 1}, {'two': 2}, {'three': 3}])

In [ ]:
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}
for i in a.values():
  print(i)

{'one': 1}
{'two': 2}
{'three': 3}

In [ ]:
#ques7

i = 1
while i <= 100:
  if(i%2==0):
    print(i)
  i+=1

In [27]:
#ques8
num = 3
i = 1

while i <6:
  result = num*i
  print(f"{num} X {i} = {result}")
  #print(result)
  i+=1

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15

In [23]:
'''i=7
print(i)
print("the value of i is:", i)
print("the {} is ".format(i))
print(f"the value of {i} is given in between")'''

'i=7\nprint(i)\nprint("the value of i is:", i)\nprint("the {} is ".format(i))\nprint(f"the value of {i} is given in between")'

In [30]:
dict_cube = {1:1, 2:8, 3:27, 4:64, 5:125, 6:216, 7:343, 8:512, 9:729, 10:1000}

keys = list(dict_cube.keys())
values =list(dict_cube.values())

i=0
while i< len(keys):
  key = keys[i]
  value = values[i]
  print(f"Key : {key}, Value : {value}")
  i+=1

Key : 1, Value : 1
Key : 2, Value : 8
Key : 3, Value : 27
Key : 4, Value : 64
Key : 5, Value : 125
Key : 6, Value : 216
Key : 7, Value : 343
Key : 8, Value : 512
Key : 9, Value : 729
Key : 10, Value : 1000

In [36]:
num_cube = {}
for num in range(1, 11):
  num_cube[num]= num**3

print(num_cube)

keys = list(num_cube.keys())
values =list(num_cube.values())

i=0
while i< len(keys):
  key = keys[i]
  value = values[i]
  print(f"Key : {key}, Value : {value}")
  i+=1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
Key : 1, Value : 1
Key : 2, Value : 8
Key : 3, Value : 27
Key : 4, Value : 64
Key : 5, Value : 125
Key : 6, Value : 216
Key : 7, Value : 343
Key : 8, Value : 512
Key : 9, Value : 729
Key : 10, Value : 1000

In [35]:
num_Cube ={}

num = 1
while num <= 10:
  num_Cube[num] = num**3
  num +=1
print(num_Cube)

keys = list(num_Cube.keys())
values =list(num_Cube.values())

i=0
while i< len(keys):
  key = keys[i]
  value = values[i]
  print(f"Key : {key}, Value : {value}")
  i+=1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
Key : 1, Value : 1
Key : 2, Value : 8
Key : 3, Value : 27
Key : 4, Value : 64
Key : 5, Value : 125
Key : 6, Value : 216
Key : 7, Value : 343
Key : 8, Value : 512
Key : 9, Value : 729
Key : 10, Value : 1000

In [54]:
for i in range(8):
  for j in range(16):
    print(" * ", end = " ")
  print()

 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *

In [51]:
row = 4

for i in range(0,row):
  for j in range(0, i+1):
    print(" * ", end = " ")
  print()

 *
 *   *
 *   *   *
 *   *   *   *