# **Module 1 - Case Study 2**

**Problem Statement:**

Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.

**Tasks To Be Performed:**

Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):

a. Concatenate the two tuples and store it in “t_combine”

b. Repeat the elements of “t_combine” 3 times

c. Access the 3rd element from “t_combine”

d. Access the first three elements from “t_combine”

e. Access the last three elements from “t_combine”

In [1]:
# Case 1
# Create tuples
t1 = (10, 20, 30)
t2 = (40, 50, 60)

# Concatenate tuples
t_combine = t1 + t2
print("Concatenated tuple:", t_combine)

# Repeat elements 3 times
t_combine *= 3
print("Repeated 3 times:", t_combine)

# Access the 3rd element
print("3rd element:", t_combine[2])

# Access the first three elements
print("First three elements:", t_combine[:3])

# Access the last three elements
print("Last three elements:", t_combine[-3:])

Concatenated tuple: (10, 20, 30, 40, 50, 60)
Repeated 3 times: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
3rd element: 30
First three elements: (10, 20, 30)
Last three elements: (40, 50, 60)

**Tasks to be Performed:**

Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1, 2, 3

b. Second element is a tuple with values “a”, “b”, “c”

c. Third element is a tuple with values True, False

In [2]:
# Case 2
# Create a list
my_list = [
    (1, 2, 3),
    ('a', 'b', 'c'),
    (True, False)
]

# Append new tuple
my_list.append((1, 'a', True))

# Append new list
my_list.append(["sparta", 123])

print("Updated list:", my_list)

Updated list: [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

**Tasks to be Performed:**

Append a new tuple – (1, ‘a’, True) to ‘my_list’:

a. Append a new list – *“sparta”, 123+ to my_list

In [5]:
# Case 3
# Existing list
my_list = [
    (1, 2, 3),
    ('a', 'b', 'c'),
    (True, False)
]

# Append new tuple
my_list.append((1, 'a', True))

# Append new list
my_list.append(["sparta", 123])

# Print the updated list
print("Updated list:", my_list)

Updated list: [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

**Tasks to be Performed:**

Create a dictionary ‘fruit’ where:

a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)

b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)

c. Extract all the keys from ‘fruit’

d. Extract all the values from ‘fruit’

In [3]:
# Case 4
# Create a dictionary
fruit = {
    'Fruit': ("Apple", "Banana", "Mango", "Guava"),
    'Cost': (85, 54, 120, 70)
}

# Extract keys
print("Keys from 'fruit':", fruit.keys())

# Extract values
print("Values from 'fruit':", fruit.values())

Keys from 'fruit': dict_keys(['Fruit', 'Cost'])
Values from 'fruit': dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

**Tasks to be Performed:**

Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [4]:
# Case 5
# Create a set
my_set = {1, 1, "a", "a", True, True}
print("Set:", my_set)

Set: {1, 'a'}