#Python Basics - Guido van Rossum and first released in 1991.

#Python is an easy to learn, powerful programming language
#efficient high level language has an effective approach to OOPS
#vast number of prebuild libraries containing multiple functions to execute tasks efficiently

#Feautures Of python
#Platform Independent
#Open source and free to use
#High level language
#simple
#rich library support
#case sensitive language

#Uses of Python
# developing frontend or back end
# coding softwares

In [3]:
print("Hello World") #first code

Hello World

#Comments

In [7]:
#Comments - non executable statements within a code
# we comment with # symbol
'''asdfsd
sdfsdf
sdf
sdf
sdf
sdf
sdf
sdf
s
d '''
"sdfs"
'sdfs'

'sdfs'

#Variables - not a constant value, dynamic value

In [11]:
#1st rule - my variable name cannot be a number - eg 3var , 1variable , 12
# nor can start with a number
1var  = 12 #onpurpose error

SyntaxError: ignored

In [12]:
#2nd rule - variable name can not start with a special charector such as @,!,#,$,%,^,&,*,(),/
# but can start with an UNDERSCORE
_var = 12
var#%^7 #wrongly created variable

NameError: ignored

In [17]:
#3rd rule - It can start with alphabets either small or capital
SmaLl_var = 1 #L is capital so makes both different
Small_var = 1
#both above are different

In [25]:
#4th rule - Alphanumeric name of avariable - Var1, Var_1,var2
Var2 = 12
var_1 = 23

In [29]:
#Checkpoint  - var1, var_r, var 1, _1var, _ var
var1 = 1
var_r=0
var 1 = 8
_1var =87
_ var = 09

SyntaxError: ignored

In [27]:
a,b,c = 1,"String",6.8 #even on giving different values no error
#becoz python auto assigns the datatype

#Tokens

In [30]:
#Tokens-In python we break down a logical line(code) into small sequence of elementary
# lexical Components() , we break them into 4 parts :

In [36]:
#1) keywords / Reserved words - these are fixed words
import keyword
print("Python has following keywords : ")
l = keyword.kwlist
for i in l: #just for making in vertical format
  print(i )

Python has following keywords :
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [37]:
#2nd)Identifiers (identify - to recognize ) - names of a variable , function, class
#rules for naming identifers same as variables
#class Myclass
#myVar = 12
#def func1()

In [40]:
#3rd)Literals - raw data given to a variable, are of 4 types
#a) String literal - "name", "a", "hey", 'string' ,''' this '''
#b)numeric literal -1) int - -2147483648 to  2147483647
#                  -2) long int
#                  -3) float
#                  -4) complex number - whole number/int number + imaginary number
# complex = a +bj (j is the imaginary part ) iota is i  = sqroot(-1)
#c)Boolean Literal - True or False
#d)special literal - None
#when i want to create a empty variable or empty literal We use NONE
v1 = None
print(v1)
type(v1)
#Please note python has alphabets as String and numbers with decimal places as float
# and true false as boolean only
#no char, no varchar, no double, no decimal, no bool

None

NoneType

In [46]:
#4) Operators - symbols which erform operations on the operand
# a)Arithmetic operators : + , - , *, /, // , %, **
print(24/3)#returns value in float format
print(24//3)#returns value in int format
print(24%5) #modulo gives remainder
print(3**2)

8.0
8
4
9

In [ ]:
#b) Comparison Operator >, < , ==, <=, >=, !=
#c) assignemnt operators =, +=, -=
#d) Logical Operators - and, or, not
#e) Identity Operator- is , is not
#f) Membership operator- in , not in
#g) Bitwise Operator - &(AND), |(OR), ^(XOR), ~(NOT), << (left shift), >>(right shift)