#### List

In [1]:
x = [1,2,3,4,5]
list2 = [1,1.2,'Python',True]

In [2]:
type(list2)

list

In [4]:
print(id(list2))

1887304009600

In [3]:
list2[1]

1.2

In [5]:
list2[1] = 200
print(list2)
print(id(list2)) # as its modifying/changing the actual list so memory location is same

[1, 200, 'Python', True]
1887304009600

In [15]:
str2 = 'apnb124'
str2.isalnum()

True

In [16]:
help(str2.isalnum)

Help on built-in function isalnum:

isalnum() method of builtins.str instance
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

In [18]:
list2 = ['a','b','c','d','e']

In [19]:
list2.append(200) # update the list with the provided data at last position

In [20]:
list2

['a', 'b', 'c', 'd', 'e', 200]

In [22]:
list2.insert(2,'python') # index position, value

In [23]:
list2

['a', 'b', 'python', 'c', 'd', 'e', 200]

In [24]:
list2.pop() # by default it removes data from last position

200

In [25]:
list2

['a', 'b', 'python', 'c', 'd', 'e']

In [26]:
list2.pop(2) # mention the index value to remove that info

'python'

In [27]:
list2

['a', 'b', 'c', 'd', 'e']

In [28]:
list3 = [1,2,3,4,5]
# extend list2 with list1
list2.extend(list3)

In [29]:
list2

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]

In [30]:
len(list2)

10

In [31]:
list2 = ['a','b','c','d','e']
list2.append([1,2,3,4,5])

In [32]:
list2

['a', 'b', 'c', 'd', 'e', [1, 2, 3, 4, 5]]

In [33]:
len(list2)

6

In [34]:
list2.index('e')

4

In [36]:
list2 = [90,30,20,110]
list2.sort() # default ascending order

In [37]:
list2

[20, 30, 90, 110]

In [41]:
list2.sort(reverse=True) # descending order

In [42]:
list2

[110, 90, 30, 20]

In [44]:
help(list2.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

#### Tuple

In [7]:
tup1 = (1,2,3,4,5)
tup2 = (1,1.2,'Python',True)
type(tup2)

tuple

In [8]:
tup2

(1, 1.2, 'Python', True)

In [9]:
tup2[1]

1.2

In [10]:
tup2[1] = 200
# as tuples are immutable/non modifiable so its throwing an error

TypeError: 'tuple' object does not support item assignment

In [46]:
tup3 = (1,2,2,3,3,3,3,3,3,3,4,5)
tup3.count(3) # 3 appeared 7 times in the data

7

#### Dictionary

In [47]:
dict1 = {'python': 'ds','powerBi': 'ds'}
type(dict1)

dict

In [48]:
dict1

{'python': 'ds', 'powerBi': 'ds'}

In [49]:
dict2 = {'ds': 'python','ds':'powerBI'}
dict2 # Keys should be unique, Values can repeat

{'ds': 'powerBI'}

In [50]:
dict1 = {'names': ['x','y','z'],
        'age': (10,20,30)}
dict1

{'names': ['x', 'y', 'z'], 'age': (10, 20, 30)}

In [51]:
id(dict1)

1887341302016

In [52]:
dict1['course'] = 'Data Science'

In [53]:
dict1

{'names': ['x', 'y', 'z'], 'age': (10, 20, 30), 'course': 'Data Science'}

In [54]:
id(dict1) # as the memory location is same dictionaries are also mutable data type

1887341302016

In [55]:
dict1.keys() # it returns key names

dict_keys(['names', 'age', 'course'])

In [56]:
dict1.values() # returns values associated

dict_values([['x', 'y', 'z'], (10, 20, 30), 'Data Science'])

In [57]:
dict1.items() # returns key value pairs

dict_items([('names', ['x', 'y', 'z']), ('age', (10, 20, 30)), ('course', 'Data Science')])

In [59]:
dict1.pop('course') # it removes the data there is no index, we need to mention key

'Data Science'

In [60]:
dict1

{'names': ['x', 'y', 'z'], 'age': (10, 20, 30)}

#### Sets

In [ ]:
# unorderd data , no duplicates

In [64]:
set1 = {10,20,1,2,3,4,5,5,6,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 10, 20}

In [65]:
set1[1] # as this sets are un ordered we cant access index

TypeError: 'set' object is not subscriptable

In [68]:
set1 = {'a','b','c','d','e'}
set2 = {'d','e','f','g','h'}

In [69]:
set1.union(set2) # combines the data

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [70]:
set1.intersection(set2) # returns common information

{'d', 'e'}

In [71]:
set1.add('f')

In [74]:
set1

{'a', 'b', 'c', 'd', 'e', 'f'}

In [75]:
set1.remove('d')
print(set1)

{'e', 'f', 'a', 'b', 'c'}

In [76]:
set1.pop()

'e'

In [77]:
set1

{'a', 'b', 'c', 'f'}

In [78]:
set1.pop()

'f'

In [79]:
set1.clear() # clear is used to remove all elements in set1

In [80]:
set1

set()

In [82]:
set1 = {'a','b','c','d','e'}
set2 = {'d','e','f','g','h'}

In [87]:
set1.union(set2) # combine everything

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [84]:
set1.intersection(set2) # common elements

{'d', 'e'}

In [83]:
set1.difference(set2) # elements which are not available in set2

{'a', 'b', 'c'}

In [85]:
set1.symmetric_difference(set2) # un common elements from both the sets

{'a', 'b', 'c', 'f', 'g', 'h'}

#### Slicing

In [1]:
st1 = 'Data Science'

In [2]:
len(st1) # no.of characters (spaces,symbols)

12

In [3]:
st1[2] # index will always starts from zero

't'

In [6]:
st1[1:7] # excluding 7

'ata Sc'

In [9]:
st1[1:7:2] # starting from 1 till 6 skip 1 character

'aaS'

In [10]:
st1[::2] # execute from start to ending by skipping 1 char

'Dt cec'

In [11]:
st1[::3] # skip two charact

'Dacn'

In [12]:
list1 = [1,2,3,4,5,6]

In [17]:
list1[-1]

6

In [16]:
list1[0:3]

[1, 2, 3]

In [14]:
list1[::2]

[1, 3, 5]

In [15]:
list1[::-1] # it would reverse the list

[6, 5, 4, 3, 2, 1]